# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool and test
*.out
test.xml

# Build and Deploy
deploy/cerebro
pkg
bin

# Modules
vendor
src/*
!src/github.com/cerebro/*